:root {
	--main-blue-color: #1c2f4a;
	--main-ltblue-color: #dde0e7;
}
#mainContent {
	margin-top: 79px;
	width:100%;
	background-color: #fff;
}
#mainFooter {
	background:#1c2f4a;
	height:45px;
	color:#dae1e7;
	font-size: 1em;
	line-height:1.2em;
	padding:0 1%;
	display: block;
}
/*
================================================================================================================
Front page Slider
================================================================================================================
*/
#announcments {background-color: #fff;}
#announcments h1 {
	position: absolute;
	left: -9999px
}
.slide {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: relative;
	min-height: 700px;
}
.slide .slide-text {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background-color:#ccd5df;
	background-color:rgba(225,233,244,0.9);
	padding: 5px 5px 10px 15px;
}
#announcments .slick-arrow {display:none!important;}
@media (max-width: 900px) {
	.slide {
	min-height: 400px;
	}
}
/*
--------------------------------------------------------------------
I am buttons
--------------------------------------------------------------------
*/
#iAmMenu {
	display: block;
	position: relative;
	font-family: Campton-Medium;
	text-align: center;
	margin-top: -65px;
	z-index: 100;
}
#iAmMenu h2 {
	position: absolute;
	left: -9999px;
}
#iAmMenu a {
	font-family: Campton-Medium;
	color: #fff;
}
#iAmMenu ul, #iAmMenu ul li {
	margin:0;
}
#iAmMenu ul li.iambutton {
	background-color: #21395a;
	color: #dae1e7;
	list-style: none;
	display: inline-block;
	padding: 40px 100px;
	font-size: 1em;
	cursor: pointer;
	text-align: left;
	margin-left: 10px;
	min-width: 165px;
}

#iAmMenu ul li.iambutton:first-of-type {
	margin-left: 0;
}
#iAmMenu ul li span {
	font-size: 1.75em;
	display: block;
	overflow: hidden;
	width: 100%;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 25px;
	text-transform: uppercase;
}
#iAmMenu ul li span.threeColumn {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	margin: 0 -4px 0 0;
}
#iAmMenu ul li div.iamBox {
	display: none;
	color: #02365b;
	background-color: rgba(218, 225, 231, .9);
	border-radius: 3px;
	height: 350px;
	overflow-y: scroll;
}
#iAmMenu ul li div.iamBox .threeColumn {
	padding: 0;
	width: 32%;
}
#iAmMenu ul li div.iamBox ul {
	margin: 0;
	padding: 0;
	background-color: transparent;
}
#iAmMenu ul li div.iamBox ul li {
	display: block;
	text-align: left;
	margin: 0;
	width: 100%;
	clear: both;
}
#iAmMenu ul li div ul li img {
	width: 36px;
	height: 36px;
	background-color: #02365b;
	padding: 2px;
	border-radius: 3px;
	position: absolute;
}
#iAmMenu ul li div.iamBox ul li a {
	max-width: 100%;
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 50px;
	display: block;
}
#iAmMenu ul li div ul li > .iamSubMenu {
	padding-left: 10px;
	margin-top: -50px;
	text-transform: capitalize;
}
#iAmMenu ul li div ul li .iamSubMenu {
	margin-bottom: 20px;
	margin-top: -30px;
}
#iAmMenu .iamBox > .threeColumn{
	vertical-align: top;
}
#iAmMenu ul li div ul li .iamSubMenu li {
	line-height: 18px;
}
#iAmMenu ul li div ul li .iamSubMenu li a {
	font-size: 1em;
	margin-bottom: -10px;
}
#iAmMenu ul li div ul li ul li {
	font-size: .75em;
	max-width: 100%;
	margin: 0 0 0 0;
	padding: 0;
}
#iAmMenu ul li div ul li a {
	color:#02365b;
	font-size: .8em;
}
#iAmMenu ul li .iamBox {
	position: absolute;
	background-color: #dae1e7;
	bottom: 163px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 90%;
	padding: 10px;
	z-index: 1000;
}
#iAmMenu .on .iamBox {
	display:block;
}
/*
----------------------------------------------------------------
Responsive styles
----------------------------------------------------------------
*/
@media (max-width: 1645px) {
	#iAmMenu ul li.iambutton {
		padding: 40px 70px;
	}
}
@media (max-width: 1350px) {
	#iAmMenu ul li.iambutton {
		padding: 40px 40px;
	}
}
@media (max-width: 1095px) {
	#iAmMenu ul li.iambutton {
		padding: 25px;
	}
}
@media (max-width: 965px) {
	#iAmMenu ul li.iambutton {
		padding: 10px;
		min-width: 130px;
	}
	#iAmMenu ul li span {
		font-size: 1.25em;
	}
}
@media (max-width: 685px) {
	#iAmMenu ul li.iambutton {
		margin-left:0;
		width: 100%;
		margin-bottom: 20px;
	}
	#iAmMenu ul li span {
		font-size: 1.25em;
	}
	#iAmMenu .on .iamBox {
		display: block;
		position: relative;
		top: 0;
		overflow: visible;
	}
	#iAmMenu .on .iamBox .threeColumn {
		width: 100%;
		display: block;
	}
	#iAmMenu ul li div.iamBox {
		height: auto;
	}
}
/*
------------------------------------------------------------------------------------------------------------------------------------------
Home Page News
------------------------------------------------------------------------------------------------------------------------------------------
*/
#homeNews {
	display: block;
	margin-bottom: 80px;
	padding-top: 80px;
}
#homeNews .stories {
	display: flex;
}
#homeNews .stories h2 {
	max-width: 95%;
	text-align: left;
	padding-left: 5%
}
#homeNews .stories article:first-of-type {
	margin-left: 0;
}
#homeNews .stories article {
	margin-left: 3%;
	background-color: var(--main-ltblue-color);
	max-width: 32%;
}
#homeNews .stories .articleContent {
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
	height: 85px;
	overflow: hidden;
}
#homeNews .stories .readMore {
	text-align: left;
	padding-left: 5%;
	margin-top:0;
}
#homeNews .stories .postDate {
	text-align: right;
}
/*
----------------------------------------------------------------
Responsive styles
----------------------------------------------------------------
*/
@media (max-width: 1000px) {
	#homeNews .stories article{
		max-width: 49%
	}
	#homeNews .stories article:last-of-type {
		display:none;
	}
}
@media (max-width: 575px) {
	#homeNews .stories {
		display: block;
	}
	#homeNews .stories article{
		max-width: 100%;
		margin:0;
	}
	#homeNews .stories article:last-of-type {
		display:block;
	}
}
/*
--------------------------------------------------------------------
Graduation Rate
--------------------------------------------------------------------
*/
dl {
	display: flex;
	background-color: white;
	flex-direction: column;
	width: 100%;
	position: relative;
}
dt {
	width: 100%;
	text-align: center;
	font-size: 1em;
	margin-bottom: -30px;
	padding-top: 30px;
	color: #fff;
	z-index: 100;
}
dl:hover dt {
	color: #414f69;
}
.percentage {
	font-size: 0.8em;
	line-height: 1;
	text-transform: uppercase;
	width: 100%;
	height: 35px;
	border-radius: 6px;
	border: 1px solid #000;
	z-index: 10;
	position: relative;
}
.percentage:after {
	  content: "";
	  display: block;
	  background-color: var(--main-blue-color);
	  width: 50px;
	  margin-bottom: 10px;
	  height: 90%;
	  position: relative;
	  top: 50%;
	  transform: translateY(-50%);
	  transition: background-color 0.3s ease;
	  cursor: pointer;
}
dl:hover .percentage:after, .percentage:hover:after, .percentage:focus:after {
	  background-color: var(--main-ltblue-color);
}
/*
Bargraph display
*/
.percentage-1:after{width:1%}.percentage-2:after{width:2%}.percentage-3:after{width:3%}.percentage-4:after{width:4%}.percentage-5:after{width:5%}.percentage-6:after{width:6%}.percentage-7:after{width:7%}.percentage-8:after{width:8%}.percentage-9:after{width:9%}.percentage-10:after{width:10%}.percentage-11:after{width:11%}.percentage-12:after{width:12%}.percentage-13:after{width:13%}.percentage-14:after{width:14%}.percentage-15:after{width:15%}.percentage-16:after{width:16%}.percentage-17:after{width:17%}.percentage-18:after{width:18%}.percentage-19:after{width:19%}.percentage-20:after{width:20%}.percentage-21:after{width:21%}.percentage-22:after{width:22%}.percentage-23:after{width:23%}.percentage-24:after{width:24%}.percentage-25:after{width:25%}.percentage-26:after{width:26%}.percentage-27:after{width:27%}.percentage-28:after{width:28%}.percentage-29:after{width:29%}.percentage-30:after{width:30%}.percentage-31:after{width:31%}.percentage-32:after{width:32%}.percentage-33:after{width:33%}.percentage-34:after{width:34%}.percentage-35:after{width:35%}.percentage-36:after{width:36%}.percentage-37:after{width:37%}.percentage-38:after{width:38%}.percentage-39:after{width:39%}.percentage-40:after{width:40%}.percentage-41:after{width:41%}.percentage-42:after{width:42%}.percentage-43:after{width:43%}.percentage-44:after{width:44%}.percentage-45:after{width:45%}.percentage-46:after{width:46%}.percentage-47:after{width:47%}.percentage-48:after{width:48%}.percentage-49:after{width:49%}.percentage-50:after{width:50%}.percentage-51:after{width:51%}.percentage-52:after{width:52%}.percentage-53:after{width:53%}.percentage-54:after{width:54%}.percentage-55:after{width:55%}.percentage-56:after{width:56%}.percentage-57:after{width:57%}.percentage-58:after{width:58%}.percentage-59:after{width:59%}.percentage-60:after{width:60%}.percentage-61:after{width:61%}.percentage-62:after{width:62%}.percentage-63:after{width:63%}.percentage-64:after{width:64%}.percentage-65:after{width:65%}.percentage-66:after{width:66%}.percentage-67:after{width:67%}.percentage-68:after{width:68%}.percentage-69:after{width:69%}.percentage-70:after{width:70%}.percentage-71:after{width:71%}.percentage-72:after{width:72%}.percentage-73:after{width:73%}.percentage-74:after{width:74%}.percentage-75:after{width:75%}.percentage-76:after{width:76%}.percentage-77:after{width:77%}.percentage-78:after{width:78%}.percentage-79:after{width:79%}.percentage-80:after{width:80%}.percentage-81:after{width:81%}.percentage-82:after{width:82%}.percentage-83:after{width:83%}.percentage-84:after{width:84%}.percentage-85:after{width:85%}.percentage-86:after{width:86%}.percentage-87:after{width:87%}.percentage-88:after{width:88%}.percentage-89:after{width:89%}.percentage-90:after{width:90%}.percentage-91:after{width:91%}.percentage-92:after{width:92%}.percentage-93:after{width:93%}.percentage-94:after{width:94%}.percentage-95:after{width:95%}.percentage-96:after{width:96%}.percentage-97:after{width:97%}.percentage-98:after{width:98%}.percentage-99:after{width:99%}.percentage-100:after{width:100%}

/*
--------------------------------------------------------------------
Get to Know
--------------------------------------------------------------------
*/
#getToKnow {

}
#getToKnow .flexcontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#getToKnow .flexcontainer article {
	width: 28%;
	background-color: var(--main-ltblue-color);
	margin-top: 2%;
	padding: 2%;
}

#getToKnow .demoLink, #homeNews .moreNews {
	width: 100%;
	background-color: var(--main-ltblue-color);
	padding: 20px 0;
	margin-right: 0;

}

#getToKnow .flexcontainer a, #getToKnow .flexcontainer a h2 {
	color: #606060;
	text-decoration: none
}
#getToKnow .flexcontainer a h2 {
	color: var(--main-blue-color);
}
#getToKnow .flexcontainer ul li,#getToKnow .flexcontainer ul,#getToKnow .flexcontainer p {
	margin: 0;
}
#getToKnow .flexcontainer ul li{
	list-style-position: inside;

}
#getToKnow .gradRate {
	width: 100%;
}
#getToKnow article {
	overflow: hidden;
	min-height: 250px;
}
#getToKnow article img {
	max-width: 80px;
	max-height: 80px;
	margin-top: 25px;
}
#getToKnow .flexcontainer article .modDate {
	font-size: 1em;
}
#getToKnow article p, #getToKnow article ul li {
	font-size: 1.2em;
}
#getToKnow .flexcontainer article .getToKnowContent {
	position: fixed;
	bottom: -9999px;
	text-align: left
}
#getToKnow .flexcontainer article:hover .getToKnowContent {
	position: relative;
	bottom: 0;
	top: 20px;
	transition: all 330ms ease-in-out;
}
#getToKnow .flexcontainer article:hover img {
	position: fixed;
	left: -9999px;
}
/*
----------------------------------------------------------------
Responsive styles
----------------------------------------------------------------
*/
@media (max-width: 1000px) {
	#getToKnow .flexcontainer article {
		width: 45%
	}
}
@media (max-width: 575px) {
	#getToKnow .flexcontainer article {
		width: 100%
	}
}
/*
--------------------------------------------------------------------------------------------------------------
Social Media
--------------------------------------------------------------------------------------------------------------
*/
.juicer-feed {
	border: 5px solid #ccc;
}
.juicer-feed .referral {
	display: none!important;
}
.juicer-feed.loaded {
	overflow: hidden;
}
#socialMediaFrontPage {
	margin-bottom: 50px;
}
.sociallinks {
	margin: 20px 0;
}
